*            {max-width: 1320px;margin: 0 auto;}
html         {background-image: url(../image/images.png);object-fit:cover;}
.navbar      {display: flex;justify-content: space-around;width: 1320px;height: 100%;margin: 10px auto;align-items: center; transition: 1s; background-color: black;
h5           {font-size: 30px;margin-left:18em;
a            {color: gray;text-decoration: none;transition: 0.3s;
&:hover      {color: white;;}}}}
img          {width: 284px;height: 250px;object-fit: cover;}
.dataCar     {max-width: min-content;display: flex;margin-left: -17.5px;}
#car         {position: relative;margin: 10px 50px 0px 5px;border: 1px solid gray;width: 300px;height: 350px;
h3           {margin: 0;font-size: xx-large;}
h4           {margin: 0;font-size: medium;}.goLink{position: absolute;inset: 0;}}
#loginBtn    {position: relative;
a            {padding: 10px;inset: 0;position: absolute;text-decoration: none;:hover{color: white;}}}
.inputForm   {background-color: rgb(255, 217, 167);width: 400px;border: 1px solid rgb(190, 190, 190);padding: 10px;border-radius: 10px;transition: 1s; text-align: end;
&:hover      {border: 1px solid blue;}
:hover       {border: 1px solid blue;}
input        {background-color: white;}}
#button      {position: relative;padding: 10px;margin-top: 10px;color: white;a{position: absolute;inset: 0;text-decoration: none;}}
select       {padding:10px 205px 10px 0;}
.likeItem    {position: absolute; right: 0; top: 0;  #likeItem{padding: 30px;color: black;}}
.showmenu{
    z-index: 1;
    font-size: 30px;
    a{padding: 20px;}
    top: 10px;
    position: absolute;
    // background-color: red;
    width: 70px;
    height: 230px;
    display: none;
}